{% extends 'layout.html' %}

{% block page_top %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <!--<li class="nav-item"><a class="nav-link" href="#test" id='test'>試用</a></li>-->
        <li class="nav-item"><a class="nav-link">您好，{{ username }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}" id='jumpTOregister'>主頁</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}" id='jumpTOregister'>帳戶</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}" id='jumpTOregister'>登出</a></li>
    </ul>
</div>
{% endblock %}

{% block masthead %}
<div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">線上口罩偵測系統</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">使用YOLO物件偵測模型進行口罩識別</p>
            <a class="btn btn-primary btn-xl" href="#login_register_section" id='jumpTOlogin'>Test it!</a>
        </div>
    </div>
</div>
{% endblock %}