{% extends 'layout.html' %}

{% block page_top %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <!--<li class="nav-item"><a class="nav-link" href="#test" id='test'>試用</a></li>-->
        <li class="nav-item"><a class="nav-link" href="#login_register_section" id='jumpTOregister'>註冊</a></li>
    </ul>
</div>
{% endblock %}

{% block masthead %}
<div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">線上口罩偵測系統</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">使用YOLO物件偵測模型進行口罩識別</p>
            <a class="btn btn-primary btn-xl" href="#login_register_section" id='jumpTOlogin'>Test it!</a>
        </div>
    </div>
</div>
{% endblock %}

{% block make_section %}
<section class="page-section" id="login_register_section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <a class="btn btn-primary btn-xl" id='log_btn' style="background-color:#f4623a; border-radius: 0;">登入</a>
                <a class="btn btn-primary btn-xl" id='reg_btn' style="background-color:#807f7e; border-radius: 0;">註冊</a>                        
            </div>                    
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5" id = 'log_field' style = 'display: Flex'>
            <div class="col-lg-6  container px-4 px-lg-5">
                <form id="loginForm" method="POST" action="{{ url_for('login', _anchor='login_register_section') }}">                      
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6 text-center">
                            <h2 class="mt-0">登入1</h2>
                            <hr class="divider" />
                            <p class="text-muted mb-5">登入2</p>                    
                        </div>                    
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="email" type="email" placeholder=" " required/>
                        <label for="member_email">帳號</label>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="passwd" type="password" placeholder=" " required/>
                        <label for="member_phone">密碼</label>
                    </div>
                    <div class="msg row gx-4 gx-lg-5 justify-content-center">{{ msg }}</div>
                    <div class="d-grid"><button class="btn btn-primary btn-xl " id="login_Button" type="submit">Login!</button></div>
                </form>
            </div>
        </div>
        <!--Register Filed-->
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5" id = 'reg_field' style = 'display: None'>
            <div class="col-lg-6 container px-4 px-lg-5">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="registForm" method="POST" action="{{ url_for('confirm_email', _anchor='login_register_section') }}">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6 text-center">
                            <h2 class="mt-0">註冊1</h2>
                            <hr class="divider" />
                            <p class="text-muted mb-5">註冊2</p>                    
                        </div>                    
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="email" type="email" placeholder=" " required/>
                        <label for="email">電子信箱</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="confirm_email" type="email" placeholder=" " required/>
                        <label for="confirm_email">確認您的電子信箱</label>
                    </div>
                    <div class="msg row gx-4 gx-lg-5 justify-content-center">{{ msg }}</div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl " id="submitButton" type="submit">Regist!</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}