{% extends 'layout.html' %}

{% block masthead %}
<style>
    .fat{
        --bs-gutter-x: 1.5rem;
         --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
         margin-left: calc(-0.5 * var(--bs-gutter-x));
    }
    .card{
        background-color:white;
        position:relative;
        width:500px;
        height: 600px;
        margin:30px;
        border-radius: 20px;
        justify-content:center;
        align-items:center;
        display: flex;
    }
</style>
<div class="fat gx-4 gx-lg-5 justify-content-center mb-5">
    <div class="col-lg-6  container px-4 px-lg-5 card">
        <form id="registForm" method="POST" action="{{ url_for('register') }}" style = "width:85%">
            <div class="fat gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <img src = '../static/img/user.png' style="width:75px;">
                    <h3 class="mt-0" style="color:black">建立您的帳戶</h3>   
                </div>                    
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
                <input class="form-control" name="email" type="email" value='{{ _email }}' placeholder=" " readonly/>
                <label for="email">電子信箱</label>            
            </div>
            <!-- Username input-->
            <div class="form-floating mb-3">
                <input class="form-control" name="username" type="username" placeholder=" " required/>
                <label for="email">使用者名稱</label>
            </div>
            <!-- Password input-->
            <div class="form-floating mb-3">
                <input class="form-control" name="passwd" type="password" placeholder=" " required/>
                <label for="confirm_email">密碼</label>
            </div>
            <!-- Confirm Password input-->
            <div class="form-floating mb-3">
                <input class="form-control" name="passwd2" type="password" placeholder=" " required/>
                <label for="confirm_email">確認密碼</label>
            </div>
            <!-- Submit Button-->
            <div class="msg row gx-4 gx-lg-5 justify-content-center" style="color:white">{{ msg }}</div>
            <div class="d-grid"><button class="btn btn-primary btn-xl " id="submitButton" type="submit">Regist</button></div>
        </form>
    </div>
</div>
{% endblock %}


