{% extends 'layout.html' %}
{%block page_top%}

{% endblock %}
{% block masthead %}
<style>
    .fat{
        --bs-gutter-x: 1.5rem;
         --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
         margin-left: calc(-0.5 * var(--bs-gutter-x));
    }
    .glasscard{
        background-color:white;
        position:relative;
        width:450px;
        height: 400px;
        margin:30px;
        border-radius: 20px;
        justify-content:center;
        align-items:center;
        display: flex;
    }
    .glasscard .glasscontent{
        align-items:center;
        text-align:center;
    }
</style>
<div class="fat gx-4 gx-lg-5 justify-content-center mb-5 " >
    <div class="col-lg-6  container px-4 px-lg-5 glasscard">
        <div class = "glasscontent">
            <img src="../static/img/checked.png" style="width:75px;">
            <br>
            <h2>已註冊成功</h2>
            <br><br>
            <h5>歡迎使用線上口罩偵測系統</h5>
            <h5>點擊下方按鈕回到主頁面</h5>
            <br>
            <a href="{{ url_for('index') }}" id='jumpTOregister' class='btn btn-primary'>返回主頁面</a></li>
        </div>
    </div>
</div>

{% endblock %}



